/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 40, 150, 187;
  --background-start-rgb: 226, 181, 67;
  --background-end-rgb: 17, 22, 39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 226, 181, 67;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 154 210 203;
  }
}

body {
  font-family: "Hind Siliguri", sans-serif;
  color: rgb(255, 255, 255);
  background: -webkit-linear-gradient(
    left,
    /* transparent, */ rgb(var(--background-end-rgb), 0.8),
    rgb(var(--background-start-rgb), 0.9),
    rgb(var(--foreground-rgb), 0.8)
  );
}

body.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}

body.hideX .pace {
  display: none !important;
  background-color: transparent;
}

#root-layout {
  font-family: "Odibee Sans", sans-serif;
  text-align: center;
  padding-bottom: -10;
}

#root-layout h1 {
  /* margin: 3; */
  color: #333;
}

.pt-10 {
  padding-top: 220;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.custom-heading {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
}
/* Reset some default margin and padding for consistency */
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

/* Set default font size for different elements */
h1 {
  font-size: 2rem;
  font-family: "Odibee Sans", sans-serif;
  font-weight: 100;
  line-height: 2.1rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  transition: color 0.6s, text-decoration 0.4s;
}

a:hover {
  text-decoration: underline;
  color: rgba(154, 210, 203);
  background-color: rgba(17, 22, 39);
  margin: 11;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-icon {
  transition: transform 0.3s;
}

.spinning-icon:hover {
  animation: spin 3s infinite linear;
}
.loop-spinning {
  animation: spin 3s infinite linear;
}

.loading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 33vh;
}

/* ----------------------------------------------
 * Button styles 
 * ---------------------------------------------- */

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgba(var(--background-start-rgb));
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: rgba(var(--background-end-rgb));
}

/* ====================== [ Start progress-wrap ] ====================== */
.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  content: "\f077";
  text-align: center;
  line-height: 44px;
  font-size: 13px;
  font-weight: 900;
  color: rgba(var(--background-start-rgb));
  left: 0;
  top: 0;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.progress-wrap svg.progress-circle path {
  stroke: rgba(var(--background-end-rgb));
  stroke-width: 4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
.progress-wrap svg path {
  fill: none;
}

/* ====================== [ End progress-wrap ] ====================== */

.circle-bg {
  position: relative;
}

.circle-bg .circle-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.circle-bg .circle-color.fixed {
  position: fixed;
  pointer-events: none;
  opacity: 0.5;
}

.circle-bg .gradient-circle {
  position: absolute;
  left: -250px;
  top: 250px;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 70%;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(var(--background-end-rgb)),
    rgba(var(--background-end-rgb), 0.9)
  );
  background-image: -o-linear-gradient(45deg, #059dff, #36c6f0);
  background-image: linear-gradient(45deg, #059dff, #36c6f0);
  opacity: 0.25;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

.circle-bg .gradient-circle.two {
  left: auto;
  top: -250px;
  right: -250px;
  bottom: auto;
  background-image: -webkit-linear-gradient(45deg, #fb5343, #6549d5);
  background-image: -o-linear-gradient(45deg, #fb5343, #6549d5);
  background-image: linear-gradient(45deg, #fb5343, #6549d5);
}
.main-content {
  background: #111215;
  position: relative;
  z-index: 3;
  overflow-x: hidden !important;
}

.line {
  position: absolute;
  height: 1px;
  width: 65%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#12c2e9),
    color-stop(#c471ed),
    to(#f64f59)
  );
  background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
  background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

.line.top {
  top: 0;
}

.line.bottom {
  bottom: 0;
}

.line.left {
  left: 0;
}

.line.right {
  right: 0;
}

.line-v {
  position: absolute;
  height: 80px;
  width: 1px;
  background: #c5a47e;
  left: 50%;
  opacity: 0.3;
}

.line-v.top {
  top: -30px;
}

.line-v.bottom {
  bottom: -30px;
}

.particles {
  min-height: 100vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.particles .cont h1 {
  font-size: 90px;
  font-weight: 800;
}

.particles .animation-wrapper {
  opacity: 0.5;
}

svg.CircularProgressbar {
  width: 110px;
}
section.testimonials.section-padding {
  overflow: hidden !important;
}
.slick-prev,
.slick-next {
  display: none !important;
}
header.particles.circle-bg.valign {
  overflow: hidden;
}
.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
